VITE_SOLANA_NETWORK=devnet
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_KWAMI_NFT_PROGRAM_ID=
VITE_QWAMI_TOKEN_PROGRAM_ID=
VITE_ARWEAVE_GATEWAY=https://arweave.net
VITE_USE_MOCK_ARWEAVE=false
